<nav class="navbar navbar-expand-lg  navbar-default">
  <a class="navbar-brand" href="#"> Hospital Management</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
           data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
           aria-expanded="false" aria-label="Toggle navigation"
           (click)="toggleCollapsed()">
           <i class="fas fa-list-ul"></i>
  </button>
  <div [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <button  type="button" class="btn btn-default" routerLink="/"> <i class="far fa-hospital"></i>  Hospitals </button>
    <button  type="button" class="btn btn-default" routerLink="/app/doctors/register"> <i class="fas fa-user-md"></i>  Doctors </button>
    <button  type="button" class="btn btn-default" > <i class="fas fa-notes-medical"></i>  Pharmacy </button>
    <button  type="button" class="btn btn-default" > <i class="fas fa-flask"></i> Laboratories </button>
    <button  type="button" class="btn btn-default" > <i class="fas fa-user-lock"></i> Login / Signup </button>
  </div>
</nav>