<div class="container">
  <div class="testimonals">
    <div class="testimonal-header">
      Testimonals
    </div>
    <div class="testimonal-list">
      <div class="testimonal-item">
        <div class="row">
          <div class="col-10 testimonal-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          </div>
          <div class="col-2">
            <img src="/assets/img/pharmacy.jpg" class="rounded img-thumbnail" width="80px" />
          </div>
        </div>
      </div>
      <div class="testimonal-item">
        <div class="row">
          <div class="col-10 testimonal-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          </div>
          <div class="col-2">
            <img src="/assets/img/pharmacy.jpg" class="rounded img-thumbnail" width="80px" />
          </div>
        </div>
      </div>
      <div class="testimonal-item">
        <div class="row">
          <div class="col-10 testimonal-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          </div>
          <div class="col-2">
            <img src="/assets/img/pharmacy.jpg" class="rounded img-thumbnail" width="80px" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
