<div class="container abc">
  <div class="row">
    <div class="col col-md-3 ">
        <div class="card" routerLink="/app/hospital/register">
          <img class="img-default" src="/assets/hospital4-homepage.png" />
          <div class="icon-title">Hospitals</div>
        </div>
    </div>
    <div class="col col-md-3 ">
        <div class="card" routerLink="/app/doctor/register">
            <img class="img-default" src="/assets/doctor2-homepage.png" />
            <div class="icon-title">Doctors</div>            
        </div>

    </div>
    <div class="col col-md-3 ">
        <div class="card" routerLink="/app/laboratory/register">
            <img class="img-default" src="/assets/lab2-homepage.png" />
            <div class="icon-title">Laboratories</div>                      
        </div>  
    </div>
    <div class="col col-md-3 ">
        <div class="card" routerLink="/app/pharmacy/register">
            <img class="img-default" src="/assets/medicine-homepage.png" />
            <div class="icon-title">Pharmacy</div>                      
          </div>
  
    </div>
  </div>
</div>
